Data/Allegiance.CommunitySecuritySystem.DataAccess/ASGS/Services.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ASGS.Alleg.net/ASGS/ASGS" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://ASGS.Alleg.net/ASGS/ASGS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ASGS.Alleg.net/ASGS/ASGS">
      <s:element name="Authenticate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Callsign" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PasswordHash" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateTicket">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Callsign" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="Ticket" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateTicketResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AuthenticateTicketResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterServer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Callsign" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="ServerName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="IPAddress" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterServerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegisterServerResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostGameStatistics">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompressedGameData" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostGameStatisticsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PostGameStatisticsResult" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlayerRank">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Callsign" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPlayerRankResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPlayerRankResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateSoapIn">
    <wsdl:part name="parameters" element="tns:Authenticate"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateResponse"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateTicketSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateTicket"/>
  </wsdl:message>
  <wsdl:message name="AuthenticateTicketSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateTicketResponse"/>
  </wsdl:message>
  <wsdl:message name="RegisterServerSoapIn">
    <wsdl:part name="parameters" element="tns:RegisterServer"/>
  </wsdl:message>
  <wsdl:message name="RegisterServerSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterServerResponse"/>
  </wsdl:message>
  <wsdl:message name="PostGameStatisticsSoapIn">
    <wsdl:part name="parameters" element="tns:PostGameStatistics"/>
  </wsdl:message>
  <wsdl:message name="PostGameStatisticsSoapOut">
    <wsdl:part name="parameters" element="tns:PostGameStatisticsResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPlayerRankSoapIn">
    <wsdl:part name="parameters" element="tns:GetPlayerRank"/>
  </wsdl:message>
  <wsdl:message name="GetPlayerRankSoapOut">
    <wsdl:part name="parameters" element="tns:GetPlayerRankResponse"/>
  </wsdl:message>
  <wsdl:portType name="ServicesSoap">
    <wsdl:operation name="Authenticate">
      <wsdl:input message="tns:AuthenticateSoapIn"/>
      <wsdl:output message="tns:AuthenticateSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateTicket">
      <wsdl:input message="tns:AuthenticateTicketSoapIn"/>
      <wsdl:output message="tns:AuthenticateTicketSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="RegisterServer">
      <wsdl:input message="tns:RegisterServerSoapIn"/>
      <wsdl:output message="tns:RegisterServerSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="PostGameStatistics">
      <wsdl:input message="tns:PostGameStatisticsSoapIn"/>
      <wsdl:output message="tns:PostGameStatisticsSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerRank">
      <wsdl:input message="tns:GetPlayerRankSoapIn"/>
      <wsdl:output message="tns:GetPlayerRankSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicesSoap" type="tns:ServicesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="Authenticate">
      <soap:operation soapAction="http://ASGS.Alleg.net/ASGS/ASGS/Authenticate" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthenticateTicket">
      <soap:operation soapAction="http://ASGS.Alleg.net/ASGS/ASGS/AuthenticateTicket" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterServer">
      <soap:operation soapAction="http://ASGS.Alleg.net/ASGS/ASGS/RegisterServer" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostGameStatistics">
      <soap:operation soapAction="http://ASGS.Alleg.net/ASGS/ASGS/PostGameStatistics" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerRank">
      <soap:operation soapAction="http://ASGS.Alleg.net/ASGS/ASGS/GetPlayerRank" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Services">
    <wsdl:port name="ServicesSoap" binding="tns:ServicesSoap">
      <soap:address location="http://asgs.alleg.net/ASGS/Services.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>